
  <head>
    <meta charset="utf-8">
    <title>Database</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/bulma.css"/>
      <link rel="stylesheet" type="text/css" href="../css/style.css"/>
  </head>
  <body>
<div class="nav">


  </div>
  <div class="columns">
    <div class="column is-half">
    <form class="" action="/api" method="post">
      <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Name</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <input name="name" class="input" type="text" placeholder="Name">
          </p>
        </div>

      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Company</label>
      </div>
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <div class="select is-fullwidth">
              <select name="company">
                <option>Samsung</option>
                <option>Apple</option>
                <option>MOTO</option>
                <option>OPPO</option>
                <option>VIVO</option>
                <option>LENEVO</option>
                <option>MI</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Category</label>
      </div>
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <div class="select is-fullwidth">
              <select name="category">
                <option>cover</option>
                <option>temper</option>
                <option>skins</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Material Type</label>
      </div>
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <div class="select is-fullwidth">
              <select name="mat_type">
                <option>Silicone Soft</option>
                <option>Hard Case</option>
                <option>Premium</option>
                <option>Defender Cover</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Brand</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input name="cbrand" class="input" type="text" placeholder="">
          </div>

        </div>
      </div>
    </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Original Price</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="og_price" class="input" type="text" placeholder="">
              </div>

            </div>
          </div>
        </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Price</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input name="price" class="input" type="text" placeholder="">
          </div>

        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Description</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <textarea name="desc" class="textarea" placeholder="Details of product"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <!-- Left empty for spacing -->
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <button class="button is-primary">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
    </form>
    </div>

  </div>
  </div>

  </body>
